<!-- your html code here -->
<div>
    <div class="container>
        <div class="row">
            <h1> Contact </h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta iure saepe obcaecati
                consequuntur,
                cumque aut repellendus quod explicabo fugiat quasi.
            <p>
            <div class="container align-items-center">
                <div>
                    <div class="col-auto">
                        <div class="form-floating justify-content-center">
                            <label for=" exampleInputEmail1" class="form-label">Your E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <div class="form-floating justify-content-center">
                            <label for="floatingTextarea2">Comments</label>
                            <textarea class="form-control" placeholder="Please enter your message here..."
                                id="floatingTextarea2" style="height: 75px"></textarea>
                        </div>
                    </div>
                    <div class="card-body aling-items-end">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>