<!-- your html code here -->
<div>
    <div class="container">
        <div class="row">
            <h1> Contact </h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta iure saepe obcaecati
                consequuntur,
                cumque aut repellendus quod explicabo fugiat quasi.
            <p>
            <div class="container align-items-center col-10">
                <div class="modal-content aling-items-center">
                    <div class="modal-body row">
                        <div class="form-floating col-3 d-flex justify-content-end">
                            <label for="exampleInputEmail1" class="form-label">
                                <strong>Your E-mail</strong>
                            </label>
                            <!-- <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email"> -->
                        </div>
                        <div class="form-floating col-9">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                    </div>
                    <div class="modal-body row">
                        <div class="form-floating col-3 d-flex justify-content-end">
                            <label class="form-label">
                                <strong>Comments</strong>
                            </label>
                            <!-- <textarea class="form-control" placeholder="Please enter your message here..."
                                id="floatingTextarea2" style="height: 50px"></textarea> -->
                        </div>
                        <div class="form-floating col-9">
                            <textarea class="form-control" placeholder="Please enter your message here..."
                                id="floatingTextarea2" style="height: 50px"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer aling-items-end">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
