<div class="container fluid d-flex p-5">
    <div>
        <h1>The First Heading Is Pretty Cool</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur Fusce dapibus, tellus ac cursus commodo</p>
    </div>
    <div>
        <div class="">
            <img src="https://picsum.photos/id/237/200/200" alt="..." class="rounded-circle">
        </div>
    </div>
</div>