<div class="container fluid d-flex">
    <div>
        <div class="rounder">
            <img src="https://picsum.photos/id/237/200/300" alt="..." class="img-thumbnail">
        </div>
    </div>
    <div>
        <h1>The Second Heading Is Pretty Cool</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur Fusce dapibus, tellus ac cursus commodo</p>
    </div>
</div>
